<div class="banner">
  <h1 class="banner-main-text">Cocktail Repository</h1>
</div>

<div class="container">







  <div class="btn-add">
    <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'btn btn-primary' %>
  </div>
<div class="cards">
  <% @cocktails.each do |cocktail| %>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1542849187-5ec6ea5e6a27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80)">
      <h3> <%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
    </div>

    <% end %>
  </div>

</div>


